extends common/layout

block main-content
  h1.page-title About NewsXGiphy

  section#about-content
    p Welcome to NewsXGiphy, your go-to source for the latest news and trending GIFs. Our mission is to provide you with timely and engaging content, combining the latest headlines in Cananda, with popular GIFs to keep you informed and entertained. It even lets you select the category of News or Gifs you're interested in. 


    h2 Contact Us
    p If you have any questions, feedback, or suggestions, feel free to reach out to us:
    ul
      li Email: support@newsxgiphy.com
      li Phone: (123) 456-7890
      li Address: 123 News Street, Giphy City, XY 12345

    h2 Follow Us
    p Stay connected with us on social media:
    ul.social-media
      li
        a(href="https://www.facebook.com/newsxgiphy" target="_blank") Facebook
      li
        a(href="https://www.twitter.com/newsxgiphy" target="_blank") Twitter
      li
        a(href="https://www.instagram.com/newsxgiphy" target="_blank") Instagram
      li
        a(href="https://www.linkedin.com/company/newsxgiphy" target="_blank") LinkedIn


