block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | NewsxGIFs
    block scripts 
      link(rel="stylesheet", type="text/css", href="/styles.css")
      script(src="/category.js")
  body
        include header.pug
        main#main
            block main-content
        include footer.pug